    @using Application.Tags.ViewModel;
    
    @model TagVM

    <div>
        <h1>Tag</h1>
        <form asp-controller="Tag" asp-action="CreateTag" method="post">
        Name: <input asp-for="Name"/>
        Value: <input asp-for="Value" />
        
        
                @if (Model is null){
                <button class="btn btn-primary" type="submit">Create</button>
                }

                else{
                <button class="btn btn-primary" type="submit">Update</button>
                }
        
                
                
        </form>
    </div>   



