@model IEnumerable<TagVM>;
@{
    <h2>Tags</h2>
    <br>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Created By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                    <td>@tag.Value</td>
                    <td>@tag.CreatedBy</td>                   
                </tr>
            }
        </tbody>
    </table>

}